In [1]:
# Import the modules
import numpy as np
import pandas as pd
from pathlib import Path
from sklearn.metrics import balanced_accuracy_score, confusion_matrix, classification_report

---

## Split the Data into Training and Testing Sets

### Step 1: Read the `lending_data.csv` data from the `Resources` folder into a Pandas DataFrame.

In [2]:
# Read the CSV file from the Resources folder into a Pandas DataFrame
lending_data_df = pd.read_csv(
    Path('Resources/lending_data.csv')
)

#Display the DataFrame
# Review the DataFrame
display(lending_data_df.head())
display(lending_data_df.tail())

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
0,10700.0,7.672,52800,0.431818,5,1,22800,0
1,8400.0,6.692,43600,0.311927,3,0,13600,0
2,9000.0,6.963,46100,0.349241,3,0,16100,0
3,10700.0,7.664,52700,0.430740,5,1,22700,0
4,10800.0,7.698,53000,0.433962,5,1,23000,0

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt,loan_status
77531,19100.0,11.261,86600,0.653580,12,2,56600,1
77532,17700.0,10.662,80900,0.629172,11,2,50900,1
77533,17600.0,10.595,80300,0.626401,11,2,50300,1
77534,16300.0,10.068,75300,0.601594,10,2,45300,1
77535,15600.0,9.742,72300,0.585062,9,2,42300,1

### Step 2: Create the labels set (`y`)  from the “loan_status” column, and then create the features (`X`) DataFrame from the remaining columns.

In [3]:
# Separate the data into labels and features

# Separate the y variable (labels)
y = lending_data_df['loan_status']

# Separate the X variable (features)
X = lending_data_df.drop(columns=['loan_status'])

In [4]:
# Review the y variable Series
y

0        0
1        0
2        0
3        0
4        0
        ..
77531    1
77532    1
77533    1
77534    1
77535    1
Name: loan_status, Length: 77536, dtype: int64

In [5]:
# Review the X variable DataFrame
X.head()

,loan_size,interest_rate,borrower_income,debt_to_income,num_of_accounts,derogatory_marks,total_debt
0,10700.0,7.672,52800,0.431818,5,1,22800
1,8400.0,6.692,43600,0.311927,3,0,13600
2,9000.0,6.963,46100,0.349241,3,0,16100
3,10700.0,7.664,52700,0.430740,5,1,22700
4,10800.0,7.698,53000,0.433962,5,1,23000

### Step 3: Check the balance of the labels variable (`y`) by using the `value_counts` function.

In [6]:
# Check the balance of our target values
lending_data_df['loan_status'].value_counts()

0    75036
1     2500
Name: loan_status, dtype: int64

### Step 4: Split the data into training and testing datasets by using `train_test_split`.

In [7]:
# Import the train_test_learn module
from sklearn.model_selection import train_test_split

# Split the data using train_test_split
# Assign a random_state of 1 to the function
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 1 )

print("Shape of X_train:", X_train.shape)
print("Shape of X_test:", X_test.shape)
print("Shape of y_train:", y_train.shape)
print("Shape of y_test:", y_test.shape)

Shape of X_train: (58152, 7)
Shape of X_test: (19384, 7)
Shape of y_train: (58152,)
Shape of y_test: (19384,)

---

## Create a Logistic Regression Model with the Original Data

###  Step 1: Fit a logistic regression model by using the training data (`X_train` and `y_train`).

In [8]:
# Import the LogisticRegression module from SKLearn
from sklearn.linear_model import LogisticRegression

# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
classifier.fit(X_train,y_train)

LogisticRegression(random_state=1)

### Step 2: Save the predictions on the testing data labels by using the testing feature data (`X_test`) and the fitted model.

In [9]:
# Make a prediction using the testing data
regression_predictions = classifier.predict(X_test)
regression_results_df = pd.DataFrame({"Prediction": regression_predictions, "Actual": y_test})
regression_results_df

       Prediction  Actual
60914           0       0
36843           0       0
1966            0       0
70137           0       0
27237           0       0
...           ...     ...
45639           0       0
11301           0       0
51614           0       0
4598            0       0
2793            0       0

[19384 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [10]:
# Print the balanced_accuracy score of the model
original_balanced_accuracy = balanced_accuracy_score(y_test, regression_predictions)
print("Balanced Accuracy Score:", original_balanced_accuracy)

Balanced Accuracy Score: 0.9520479254722232

In [11]:
# Generate a confusion matrix for the model
regression_matrix = confusion_matrix(y_test, regression_predictions)
#regression_matrix


regression_matrix = confusion_matrix(y_test, regression_predictions)
regression_matrix_df = pd.DataFrame(regression_matrix, 
                                index = ['Actual Healthy Loans (low-risk)', 
                                'Actual Non-Healthy Loans (high-risk)'],
                                    
                                columns = ['Predicted Healthy Loans (low-risk)', 
                                           'Predicted Non-Healthy Loans (high-risk)'] )
regression_matrix_df

,Predicted Healthy Loans (low-risk),Predicted Non-Healthy Loans (high-risk)
Actual Healthy Loans (low-risk),18663,102
Actual Non-Healthy Loans (high-risk),56,563

In [21]:
# Print the classification report for the model
# Generate the classification report
original_classification_report = classification_report(y_test, regression_predictions)

# Print the classification report
print("Original Data Classification Report:")
print(original_classification_report)

Original Data Classification Report:
              precision    recall  f1-score   support

           0       1.00      0.99      1.00     18765
           1       0.85      0.91      0.88       619

    accuracy                           0.99     19384
   macro avg       0.92      0.95      0.94     19384
weighted avg       0.99      0.99      0.99     19384

### Step 4: Answer the following question.

**Question:** How well does the logistic regression model predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** The model indicated all actual healthy loans (0) are correctly predicted with 100% precision and good recall and f1-score. The model shows 85% of predictions labeled as high-risk loans (1) are correct as high precision, recall and f1-score.

The balanced accuaracy of the model is 94%.  

The logistic regression model demonstrates excellent performance for both healthy loans (0) and high-risk loans (1). It is highly accurate, and its ability to correctly identify both classes is reflected in the high precision, recall, and F1-scores for each class.The model is is proficient at distinguishing between healthy and high-risk loans in the given dataset.

Although, accuracy of model is high, but  the recall for risky loan applicants is not high enough ,as it should be comapred to the recall for low-risk applicants.

---

## Predict a Logistic Regression Model with Resampled Training Data

### Step 1: Use the `RandomOverSampler` module from the imbalanced-learn library to resample the data. Be sure to confirm that the labels have an equal number of data points.

In [22]:
# Import the RandomOverSampler module form imbalanced-learn
from imblearn.over_sampling import RandomOverSampler

# Instantiate the random oversampler model
# # Assign a random_state parameter of 1 to the model
random_oversampler = RandomOverSampler(random_state=1)


# Fit the original training data to the random_oversampler model
X_train_resampled, y_train_resampled = random_oversampler.fit_resample(X_train, y_train)

In [23]:
# Count the distinct values of the resampled labels data
y_train_resampled.value_counts()

0    56271
1    56271
Name: loan_status, dtype: int64

### Step 2: Use the `LogisticRegression` classifier and the resampled data to fit the model and make predictions.

In [24]:
# Instantiate the Logistic Regression model
# Assign a random_state parameter of 1 to the model
classifier = LogisticRegression(solver='lbfgs', random_state=1)

# Fit the model using training data
classifier.fit(X_train_resampled,y_train_resampled)

LogisticRegression(random_state=1)

In [25]:
# Make a prediction using the testing data
resampled_predictions = classifier.predict(X_train_resampled)
resampled_predictions_df = pd.DataFrame({"Prediction": resampled_predictions, "Actual": y_train_resampled})
resampled_predictions_df

        Prediction  Actual
0                0       0
1                0       0
2                0       0
3                0       0
4                0       0
...            ...     ...
112537           1       1
112538           1       1
112539           1       1
112540           1       1
112541           1       1

[112542 rows x 2 columns]

### Step 3: Evaluate the model’s performance by doing the following:

* Calculate the accuracy score of the model.

* Generate a confusion matrix.

* Print the classification report.

In [26]:
# Print the balanced_accuracy score of the model 
resampled_balanced_accuracy = balanced_accuracy_score(y_train_resampled, resampled_predictions)
print("Balanced Accuracy Score:", resampled_balanced_accuracy)

Balanced Accuracy Score: 0.9947308560359689

In [27]:
# Generate a confusion matrix for the model
resampled_matrix = confusion_matrix(y_train_resampled, resampled_predictions)
#regression_matrix


resampled_matrix = confusion_matrix(y_train_resampled, resampled_predictions)
resampled_matrix_df = pd.DataFrame(resampled_matrix, 
                                index = ['Actual Healthy Loans (low-risk)', 
                                'Actual Non-Healthy Loans (high-risk)'],
                                    
                                columns = ['Predicted Healthy Loans (low-risk)', 
                                           'Predicted Non-Healthy Loans (high-risk)'] )
resampled_matrix_df

,Predicted Healthy Loans (low-risk),Predicted Non-Healthy Loans (high-risk)
Actual Healthy Loans (low-risk),55964,307
Actual Non-Healthy Loans (high-risk),286,55985

In [28]:
# Print the classification report for the model
# Generate the classification report
resampled_report = classification_report(y_train_resampled, resampled_predictions)

# Print the classification report
print("Resampled Data Classification Report:")
print(resampled_report)

Resampled Data Classification Report:
              precision    recall  f1-score   support

           0       0.99      0.99      0.99     56271
           1       0.99      0.99      0.99     56271

    accuracy                           0.99    112542
   macro avg       0.99      0.99      0.99    112542
weighted avg       0.99      0.99      0.99    112542

### Step 4: Answer the following question

**Question:** How well does the logistic regression model, fit with oversampled data, predict both the `0` (healthy loan) and `1` (high-risk loan) labels?

**Answer:** This classification report suggests that the logistic regression model, trained on the resampled data, performs very well. It exhibits high precision, recall, and F1-scores for both classes, indicating effective classification of both majority and minority classes. 

High accuracy and high recall for the risky loan applicants further supports the overall robustness of the model.